html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    font-family: "Helvetica Neue", Arial, sans-serif;
    background: rgba(182, 255, 251, 0.274);
}

h1{
    text-align: center;
    align-self: center;
}

p{
    margin: 0;
    padding: 0;
}


.standardStyle{
    Background-color: #FFAD4F;
    color: #FFFFFF;
}

.alternativeStyle{
    Background-color: #f5f5f5;
    color: #6b6c6d;
}

.buttonStyle{
    text-align: center;
    font-size: 20px;
    min-width: 100px;
    Background-color: #e3e3e3;
    color: #75787d;
}

.addPadding{
    padding: 5px;
}

.textAlignCenter{
    text-align: center;
}