.flex_box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.flex_direction-row{
    flex-direction: row;
}
.flex_direction-column{
    flex-direction: column;
}

.limit-size{
    max-width: 80%;
}

.flex_item{
    width: 33%;
    min-width: 200px;
}

.flex_justify-left{
    justify-content: flex-start;
}
.flex_justify-center{
    justify-content: center;
}
.flex_justify-right{
    justify-content: flex-end;  
}
.flex_justify-stretch{
    justify-content: space-between;  
}

@media only screen and (max-width: 600px){
    .flex_box{
        flex-direction: row;
    }

    .flex_item{
        width: 100%;
    }
}