.header{
    word-break: break-all;
    min-height: 50px;
}

h1{
    margin: 0px;
    padding-top: auto;
    padding-bottom: auto;
}

.header-item{
    min-height: inherit;
    width: 33%;
}

.logo{
    background-image: url("../images/logo.png");
    background-size: 80px;
    background-repeat: no-repeat;
    background-position-y: 5px;
    background-position-x: 5px;
}

@media only screen and (max-width: 600px){
    .logo{
        background-position-x: 50%;
    }
}
