@media only screen and (min-width: 600px) { 
    .eend_image {
        height: 350px;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('../images/EEND_GROOT.jpg');
    }
}

@media only screen and (max-width: 600px) { 
    .eend_image {
        height: 350px;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('../images/EEND.png');
    }
}